@model Ebakery.Models.CombinedViewModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>
                    Coffees
                    <ul>
                        <li>Espresso</li>
                        <li>Freddo Espresso</li>
                        <li>Cappuccino</li>
                        <li>Freddo Cappuccino</li>
                        <li>Cappuccino Latte</li>
                        <li>Frappe</li>
                        <li>Nes</li>
                        <li>Greek Coffee</li>
                    </ul>
                </li>
                <li>
                    Beverages
                    <ul>
                        <li>Hot Chocolate</li>
                        <li>Cold Chocolate</li>
                        <li>Freddoccino</li>
                        <li>Mochaccino</li>
                        <li>Vanilla Cookies</li>
                    </ul>
                </li>
                <li>
                    Fresh Juice
                    <ul>
                        <li>Orange Juice</li>
                        <li>Pinnaple Juice</li>
                        <li>Cranberry juice</li>
                        <li>Grape juice</li>
                        <li>Lemon juice</li>
                        <li>Apple juice</li>
                    </ul>
                </li>
                <li>
                    Fresh Juice
                    <ul>
                        <li>Orange Juice</li>
                        <li>Pinnaple Juice</li>
                        <li>Cranberry juice</li>
                        <li>Grape juice</li>
                        <li>Lemon juice</li>
                        <li>Apple juice</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div><br>
</div><br>

<br><br>


<br>


