@model Ebakery.Models.Product


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/bread.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/bakery3.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/sweets.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/sweets.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/juice.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/WWW/images/bread.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-8">
            blabla
        </div>
    </div><br>
</div><br>

<br><br>


<br>

