@model Ebakery.Models.Basket
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Products.Count == 0) {
    <p>Your Basket is empty!</p>
}
else {
    foreach(var product in Model.Products)
    {
        <p> @product.Name @product.Price </p>
       // Model.Price = product.Price + Model.Price;
    }
    <p>Total= @Model.Price</p>
   
}

  
