@model Ebakery.Models.Product


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table" style="width:100%">
                <caption>Drinks</caption>
                <tr>
                    <th> Coffees</th>
                    <th>Beverages</th>
                    <th>Juice</th>
                </tr>
                <tr>
                    <td>
                        <ul class="list-group cat">
                            <li>Espresso </li>
                            <li>Freddo Espresso</li>
                            <li>Cappuccino</li>
                            <li>Freddo Cappuccino</li>
                            <li>Cappuccino Latte</li>
                            <li>Frappe</li>
                            <li>Nes</li>
                            <li>Greek Coffee</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Hot Chocolate</li>
                            <li>Cold Chocolate</li>
                            <li>Freddoccino</li>
                            <li>Mochaccino</li>
                            <li>Vanilla Cookies</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%">
                <caption>Drinks</caption>
                <tr>
                    <th> Coffees</th>
                    <th>Beverages</th>
                    <th>Juice</th>
                </tr>
                <tr>
                    <td>
                        <ul class="list-group cat">
                            <li>Espresso</li>
                            <li>Freddo Espresso</li>
                            <li>Cappuccino</li>
                            <li>Freddo Cappuccino</li>
                            <li>Cappuccino Latte</li>
                            <li>Frappe</li>
                            <li>Nes</li>
                            <li>Greek Coffee</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Hot Chocolate</li>
                            <li>Cold Chocolate</li>
                            <li>Freddoccino</li>
                            <li>Mochaccino</li>
                            <li>Vanilla Cookies</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%">
                <caption>Drinks</caption>
                <tr>
                    <th> Coffees</th>
                    <th>Beverages</th>
                    <th>Juice</th>
                </tr>
                <tr>
                    <td>
                        <ul class="list-group cat">
                            <li>Espresso</li>
                            <li>Freddo Espresso</li>
                            <li>Cappuccino</li>
                            <li>Freddo Cappuccino</li>
                            <li>Cappuccino Latte</li>
                            <li>Frappe</li>
                            <li>Nes</li>
                            <li>Greek Coffee</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Hot Chocolate</li>
                            <li>Cold Chocolate</li>
                            <li>Freddoccino</li>
                            <li>Mochaccino</li>
                            <li>Vanilla Cookies</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table style="width:100%">
                <caption>Drinks</caption>
                <tr>
                    <th> Coffees</th>
                    <th>Beverages</th>
                    <th>Juice</th>
                </tr>
                <tr>
                    <td>
                        <ul class="list-group cat">
                            <li>Espresso</li>
                            <li>Freddo Espresso</li>
                            <li>Cappuccino</li>
                            <li>Freddo Cappuccino</li>
                            <li>Cappuccino Latte</li>
                            <li>Frappe</li>
                            <li>Nes</li>
                            <li>Greek Coffee</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Hot Chocolate</li>
                            <li>Cold Chocolate</li>
                            <li>Freddoccino</li>
                            <li>Mochaccino</li>
                            <li>Vanilla Cookies</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group cat">
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table style="width:100%">
                                                <caption>Drinks</caption>
                                                <tr>
                                                    <th> Coffees</th>
                                                    <th>Beverages</th>
                                                    <th>Juice</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="list-group cat">
                                                            <li>Espresso</li>
                                                            <li>Freddo Espresso</li>
                                                            <li>Cappuccino</li>
                                                            <li>Freddo Cappuccino</li>
                                                            <li>Cappuccino Latte</li>
                                                            <li>Frappe</li>
                                                            <li>Nes</li>
                                                            <li>Greek Coffee</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-group cat">
                                                            <li>Hot Chocolate</li>
                                                            <li>Cold Chocolate</li>
                                                            <li>Freddoccino</li>
                                                            <li>Mochaccino</li>
                                                            <li>Vanilla Cookies</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-group cat">
                                                            <li>Orange Juice</li>
                                                            <li>Pinnaple Juice</li>
                                                            <li>Cranberry juice</li>
                                                            <li>Grape juice</li>
                                                            <li>Lemon juice</li>
                                                            <li>Apple juice</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                            <br><br>


                                            <br>


